* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}
/* ["Lora", "Inter", "Inconsolata"] */
.san {
  font-family: "Inter";
}
.serif {
  font-family: "Lora";
}
.mono {
  font-family: "Inconsolata";
}
